*{
box-sizing:border-box;
}

body{
margin:0;
font-family:"Lato",sans-serif;
background:#193549;
}

.resume-container{
max-width:1100px;
margin:auto;
background:white;
display:flex;
}

.left-sidebar{
flex:1;
background:#f4f4f4;
padding:40px;
}

.left-sidebar img{
width:160px;
border-radius:50%;
display:block;
margin:auto;
margin-bottom:30px;
}

.heading{
text-transform:uppercase;
background:#444;
color:white;
padding:10px;
text-align:center;
margin-top:30px;
}

.section-bar{
height:3px;
background:#193549;
margin:10px 0 20px;
}

.contact{
margin-bottom:10px;
}

.skills{
padding-left:20px;
}

.skills li{
margin-bottom:10px;
}

.main-body{
flex:2;
padding:40px;
}

.main-body h1{
font-size:36px;
margin-bottom:0;
}

.designation{
font-size:18px;
color:#555;
margin-bottom:40px;
}

.job-info{
display:flex;
justify-content:space-between;
background:#f6f6f6;
padding:6px 10px;
margin-top:20px;
}

a{
text-decoration:none;
color:black;
}

a:hover{
color:#193549;
}
